
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 16, 16);
    background-color: bisque;
}

#id {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 16, 16);
    background-color: none;
}